*{
    margin: 0px;
    padding: 0px;
}

/* NAV SECTION */
header{
    background: rgba(255, 144, 14, 0.10);
}
nav{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    list-style: none;
    display: flex;
   gap: 40px;
}
nav h3{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

nav ul li {
    color: var(--Dark-02, #424242);
text-align: center;
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
}

@media  screen and (max-width:576px) {
    nav{
        flex-direction:column;
        text-align: center;
    }
    nav h3{
        padding-bottom: 20px;
    }
}