*{
    margin: 0px;
    padding: 0px;
     font-family:"Work Sans" ;
}

/* BUTTON SECTION */

.btn-primary{
color: #fff;
    border-radius: 8px;
background: #FF900E;    
text-align: center;
border: none;
width: 140px;
height: 44px;
display: block;
margin: 0px auto;
}








/* NAV SECTION */
header{
    background: rgba(255, 144, 14, 0.10);
}
nav{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 102px;
}

nav ul{
    list-style: none;
    display: flex;
   gap: 40px;
}
nav h3{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

nav ul li {
    color: var(--Dark-02, #424242);
text-align: center;
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
}
/* ---------------------------------------------- */






              /* Banner section */

    .banner h3{
        color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 50%;
margin: 0px auto;
    }


    .banner p{
        color: var(--Dark-03, #727272);
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
max-width: 50%;
margin: 0px auto;
padding-top: 20px;
padding-bottom: 32px;
    }
 .banner img{
    width: 70%;
    display: block;
    margin: 0px auto;
    padding-top: 50px;
 }










/* RESPONSIVE SECTION  */
@media  screen and (max-width:576px) {
    nav{
        flex-direction:column;
        text-align: center;
    }
    nav h3{
        padding-bottom: 20px;
    }
}