*{
    margin: 0px;
    padding: 0px;
     font-family:"Work Sans" ;
}

/* BUTTON SECTION */

.btn-primary{
color: #fff;
    border-radius: 8px;
background: #FF900E;    
text-align: center;
border: none;
width: 140px;
height: 44px;

}

.btn-c{
    display: block;
margin: 0px auto;
}







/* NAV SECTION */
header{
    background: rgba(255, 144, 14, 0.10);
    margin-bottom: 85px;
}
nav{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 102px;
}

nav ul{
    list-style: none;
    display: flex;
   gap: 40px;
}
nav h3{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

nav ul li {
    color: var(--Dark-02, #424242);
text-align: center;
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
}
/* ---------------------------------------------- */






              /* Banner section */

    .banner h3{
        color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 50%;
margin: 0px auto;
    }


    .banner p{
        color: var(--Dark-03, #727272);
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
max-width: 50%;
margin: 0px auto;
padding-top: 20px;
padding-bottom: 32px;
    }
 .banner img{
    width: 70%;
    display: block;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px
 }

 /* ----------------------------------------------------- */



 /* FEATURE SECTION */

.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 73px;
    margin: 0px auto;
    padding-left: 301px;
}

.feature-img img{
    width: 342px;
    height: 342px;
    flex-shrink: 0;
  

}
.feature-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 24px;
  
   
}
.cheat{
    text-align: right;  
}


.feature-writings h3{
    color: var(--Dark-03, #727272);
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
max-width: 50%;
}

.feature-writings p{
    color: var(--Dark-03, #727272);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-top: 24px;
padding-bottom:32px ;
max-width: 50%;
text-align-last: left;
}

/* --------------------------------------------- */

              /* CARDS SECTION */

.experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 130px;
    gap: 140px;
    margin-left: 240px;
    margin-right: 240px;
}

.exp-h{
    color: var(--Dark-01, #131313);
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 60%;


}

.exp-p{
    color: var(--Dark-03, #727272);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 20px;
margin-bottom: 30px;
max-width: 70%;
}

.cards h3{
    color: var(--Dark-01, #131313);
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.cards{
    width: 586px;
height: 171px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding-left: 30px;
padding-top: 30px;
margin-bottom: 20px;
}

.exp-cnt img{
    width: 708px;
height: 982px;
flex-shrink: 0;
z-index: 0;
}

.exp{
    width: 342px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF900E;
color: white;
text-align: center;
font-size: 60px;
font-weight: 700;
margin-top: -120px;
margin-left: -88px;
position: absolute;
z-index: 1;
padding-top: 40px;

}
.feature-grid{
    display: flex;
    gap:21px
}
.vl{
    
    width: 5px;
    height: 106px;
    flex-shrink: 0;
    border:2px solid #FF900E;
    background:#FF900E;
    
}
.facts{
        margin-top: 168px;
        margin-left: 240px;
}

.facts h3{
    color: var(--Dark-01, #131313);

font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.facts p{
    color: var(--Dark-03, #727272);
max-width: 40%;
font-size: 16px;
font-style: normal;
padding-top: 24px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}


/* ACHIEVEMENT SECTION  */

.achievement{
    margin-top: 100px;
    margin-left: 290px;
    margin-right: 290px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 124px;
}

.a-grid{

border: 1px solid #FF900E   ;
min-width: 241px;
height: 241px;


}
.a-grid-c{
   margin-top: 46px;
   margin-left: 36px;
   margin-right: 36px;
}
.a-grid img{
   
    display: block;
    margin: 0px auto;
    padding-bottom: 10px;
}

.a-grid h3{
    color: var(--Dark-02, #424242);
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
max-width: fit-content;
margin: 0px auto;

}
.a-grid h1{
    color: var(--Dark-03, #727272);
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

text-align: center;
}

/* sponsor section  */

.sponsor h3{
    text-align: center;
    color: var(--Dark-01, #131313);
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sponsor p{
    
    color: var(--Dark-03, #727272);

font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
max-width: 30%;
margin: 0px auto;
padding-top: 24px;
text-align: center;
}

.spon-img{
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.spon-img img{
filter: grayscale(100%);
}

/* RESPONSIVE SECTION  */
@media  screen and (max-width:576px) {
   header{
    background:white;
   }
    nav{
        flex-direction:column;
        text-align: center;
    }
    nav h3{
        padding-bottom: 20px;
    }

    .features{
        padding-left: 0px;
        grid-template-columns: 1fr;
    }
    .feature-img img{
        width:200px;
        height: 200px;
    }
    .feature-writings{
        text-align: center;
        margin: 0px auto;
    }
    .feature-writings h3{
      margin: 0px auto;
    }
    .feature-writings p{
       max-width: 40%;
        margin: 0px auto;
      }

      .feature-writings button{
        display: block;
        margin: 0px auto;
      }
      .experience{
        margin-left: 0px;
        grid-template-columns: 1fr;
      }
      .exp-h{
        margin: 0px auto    ;
        text-align: center;
        padding-bottom: 20px;
      }
      .exp-p{
        margin: 0px auto    ;
        max-width: 50%;
        text-align: center;
        padding-bottom: 20px;
      }
      .cards{
        width: 576px;
        padding-left: 0px;
      }
      .cards h3{
      max-width: 50%;
      text-align: center;
      margin: 0px auto;
      padding-bottom: 20px;
      }
      .cards p{
        max-width: 50%;
        text-align: center;
        margin: 0px auto;
      }
      
      .vl{
        display: none;
      }
      .exp{
        display: none;
        
         }
         .exp-cnt img{
            width: 100%;
         }


         .facts{
            margin: 0px;
            margin-top: 20px;
        }
        .facts h3{
            text-align: center;
        }
        .facts p{
           text-align: center;
            margin: 0px auto;
        }

        .achievement{
            margin: 0px;
            margin-top: 100px;
            grid-template-columns: 1fr;
        }
        .a-grid{
          
            margin: 0px auto;
        }

        .sponsor{
            margin-top: 100px;
        }
        .spon-img{
            margin: 0px;
            padding-top: 50px;
            grid-template-columns: 1fr;
            row-gap: 50px;
        }
        .spon-img img{
            display: block;
            margin: 0px auto;
        }

       
      .exp-cnt:nth-child(1){order:2 } ;

 
    
}
